ignore-scripts=false
strict-peer-dependencies=false
shamefully-hoist=true
auto-install-peers=true
onlyBuiltDependencies[]=@tailwindcss/oxide
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@esbuild/linux-x64
onlyBuiltDependencies[]=@esbuild/linux-arm64
approve-builds=true
